@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@layer base {
	input[type='number']::webkit-inner-spin-button,
	input[type='number']::webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	input[type='number'] {
		-moz-appearance: textfield !important;
	}
}
